<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aditya.NeatFriends2864"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="com.aditya.NeatFriends2864"
    android:process="com.android.Layers">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:label="NeatFriends2864"
        android:icon="@drawable/icon">
        <service android:name="com.aditya.NeatFriends2864.Overlay"
            android:exported="true">
            <intent-filter>
                <action android:name="com.layers.plugins.PICK_OVERLAYS" />
                <category android:name="Overlay" />
            </intent-filter>

        </service>

        <meta-data android:name="Layers_Name" android:value="Neat Friends 2864"/>
        <meta-data android:name="Layers_Developer" android:value="Aditya Gupta"/>
        <meta-data android:name="Layers_Colors" android:value=""/>
        <meta-data android:name="Layers_Description" android:value="Theme Based on Special People called Friends."/>
        <meta-data android:name="Layers_OverlayNames" android:value="AOSP Calculator,AOSP Keyboard,Framework,Google Keep,Google PlayMusic,Google PlayStore,Google Velvet,Layers Manager,Settings,SystemUI,Whatsapp, "/>
        <meta-data android:name="Layers_WhatsNew" android:value="v1.0 \n\n- People Who make you 'Who you are',are Friends.Wanted to show them respect,hope 'You' My friend likes it :)"/>

    </application>


</manifest>